@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
